function:
   partial:
      - kfree
      - copy_from_user
      - printk
      - kmalloc
      - copy_to_user
      - strncpy_from_user
      - kzalloc
   yes:
      - memcpy
      - memset
      - strcmp
      - strlen
      - strcpy
      - strncmp
      - atomic_dec
      - atomic_inc


macro:
   not_required:
      - unlikely
      - EXPORT_SYMBOL
      - DEFINE_RWLOCK
      - LIST_HEAD_INIT
      - __SPIN_LOCK_UNLOCKED
      - __SEMAPHORE_INITIALIZER
      - likely
      - MODULE_LICENSE
      - MODULE_PARM_DESC
      - ATOMIC_INIT
   reusable:
      - S_ISSOCK
      - MINOR
      - MAJOR
      - S_ISCHR
      - S_ISDIR
      - S_ISFIFO
      - S_ISREG
      - IS_RDONLY
      - IS_ROOT

