[Unit]
Description=The Starman PSGI Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
Environment=LANG=C
EnvironmentFile=/etc/sysconfig/starman
#PermissionsStartOnly=true
#User=starman
#Group=starman

ExecStart=/usr/bin/starman --user starman --group starman --listen localhost:80 --workers 1 --daemonize --pid /var/run/starman/starman.pid --access-log /var/log/starman/access.log --error-log /var/log/starman/error.log /home/starman/spec-utils/web/graph.psgi
PIDFile=/var/run/starman/starman.pid
ExecStopPost=-/usr/bin/rm -fr /var/run/starman/starman.pid /var/cache/graph/
ExecStartPre=-/usr/bin/mkdir /var/log/starman
ExecStartPre=-/usr/bin/mkdir /var/cache/graph
ExecStartPre=-/usr/bin/mkdir /var/run/starman
ExecStartPre=/usr/bin/chown starman:starman -R /var/log/starman /var/cache/graph /var/run/starman
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=15
PrivateTmp=true

[Install]
WantedBy=multi-user.target
